.projects-container {
  padding-top: 0px;
  flex: 1 1 0%;
  width: calc(100% - 64px);
  margin: 24px;
  min-width: unset;
}
@media screen and (min-width: 992px) {
  .projects-container {
    min-width: 440px;
    min-height: 704px;
    margin: 56px 112px 56px 72px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-container {
    min-width: 640px;
  }
}
.projects-container > .qualification-title {
  width: 100%;
}
.projects-container > .qualification-title > h2 {
  font-size: 1.1875rem;
  line-height: 1.75;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .projects-container > .qualification-title > h2 {
    font-size: 2.125rem;
    font-weight: bold;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .projects-container > .qualification-title > h2 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.25;
  }
}
.projects-container > .projects-subtitle {
  position: relative;
  width: 100%;
  border-bottom: 1px solid transparent;
  margin-top: 16px;
  border-bottom: unset;
}
@media screen and (min-width: 992px) {
  .projects-container > .projects-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 32px;
  }
}
.projects-container > .projects-subtitle > h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  white-space: nowrap;
}
@media screen and (min-width: 576px) {
  .projects-container > .projects-subtitle > h4 {
    font-size: 1.1875rem;
    line-height: 1.47;
  }
}
.projects-container > div {
  flex: 1 1 0%;
  margin-top: 24px;
  display: block;
}
.projects-container > div > .projects {
  position: relative;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .projects-container > div > .projects {
    display: grid;
    grid-template-columns: 352px 352px;
  }
}
@media screen and (min-width: 992px) {
  .projects-container > div > .projects {
    row-gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.projects-container > div > .projects > div {
  opacity: 1;
  visibility: visible;
  transform-origin: 50% 50% 0px;
  z-index: auto;
  transform: none !important;
}
.projects-container > div > .projects > div > .project {
  height: auto;
  width: 100%;
  max-width: 352px;
  padding: 16px;
  margin: 16px auto;
  position: relative;
  border: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8ZGVmcz4gPG1hc2sgaWQ9Im1hc2siPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiByeD0iMjAiIHJ5PSIyMCIgZmlsbD0id2hpdGUiIC8+IDwvbWFzaz4gPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudEJvcmRlciIgZ3JhZGllbnRUcmFuc2Zvcm09InJvdGF0ZSg5MCkiPiA8c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiNmZmZmZmYiIC8+IDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgyNTUsIDI1NSwgMjU1LCAwKSIgLz4gPC9saW5lYXJHcmFkaWVudD4gPC9kZWZzPiA8cmVjdCBtYXNrPSJ1cmwoI21hc2spIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJub25lIiByeD0iMjAiIHJ5PSIyMCIgc3Ryb2tlPSJ1cmwoI2dyYWRpZW50Qm9yZGVyKSIgc3Ryb2tlLXdpZHRoPSIzIiAvPiA8L3N2Zz4=);
  border-radius: 20px;
  background: var(--colors-project-card-bg);
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .projects-container > div > .projects > div > .project {
    height: 100%;
  }
}
@media screen and (min-width: 992px) {
  .projects-container > div > .projects > div > .project {
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .projects-container > div > .projects > div > .project {
    padding: 32px;
    margin-top: unset;
    max-width: unset;
  }
}
.projects-container > div > .projects > div > .project > .project-body {
  display: flex;
  flex-direction: column;
  height: inherit;
}
@media screen and (min-width: 1200px) {
  .projects-container > div > .projects > div > .project > .project-body {
    flex-direction: row;
  }
}
.projects-container > div > .projects > div > .project > .project-body > .project-image {
  display: flex;
  margin-bottom: 12px;
  border-radius: 10px;
  max-width: 320px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .projects-container > div > .projects > div > .project > .project-body > .project-image {
    max-width: 248px;
    margin-right: 20px;
    margin-bottom: unset;
  }
}
.projects-container > div > .projects > div > .project > .project-body > .project-image > .project-cover {
  width: 100%;
  position: relative;
  padding-top: 168px;
  border-radius: inherit;
}
.projects-container > div > .projects > div > .project > .project-body > .project-image > .project-cover > .project-cover-style {
  position: absolute;
  max-height: 168px;
  inset: 0px;
  z-index: 0;
  border-radius: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--colors-project-card-bg);
}
.projects-container > div > .projects > div > .project > .project-body > .project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
}
.projects-container > div > .projects > div > .project > .project-body > .project-content > .project-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.4375rem;
  font-weight: 600;
  letter-spacing: -0.25px;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .projects-container > div > .projects > div > .project > .project-body > .project-content > .project-title {
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 40px;
  }
}
.projects-container > div > .projects > div > .project > .project-body > .project-content > p.project-description {
  margin-top: 16px;
  color: var(--colors-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
.projects-container > div > .projects > div > .project > .project-body > .project-content > .project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
@media screen and (min-width: 1200px) {
  .projects-container > div > .projects > div > .project > .project-body > .project-content > .project-footer {
    margin-top: auto;
  }
}/*# sourceMappingURL=projects.css.map */