@import "./variables.scss";
@import "./responsive.scss";

html {
  text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;

  font-family: $font_body;
  font-size: $font_size;
  font-weight: $font_light;
  color: var(--colors-text);
  background-color: var(--colors-page-bg);
  overflow-y: scroll;

  * {
    outline: none;
  }

  .img-responsive {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: $size_base_multiplier * 2;
    font-family: $font_headline;
  }

  h1,
  .h1 {
    font-size: $font_size_h1;
  }

  h2,
  .h2 {
    font-size: $font_size_h2;
  }

  h3,
  .h3 {
    font-size: $font_size_h3;
  }

  h4,
  .h4 {
    font-size: $font_size_h4;
  }

  h5,
  .h5 {
    font-size: $font_size_h5;
    line-height: #{$line_height_h5};
  }

  h6,
  .h6 {
    font-size: $font_size_text;
  }

  p {
    margin: 0px;
  }

  a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  >section.container {
    position: relative;
    margin: 0px auto;
    max-width: 1440px;

    @include respond-to(from-md) {
      display: flex;
      flex-flow: row nowrap;
    }
  }

  .bold {
    font-weight: $font_bold;
  }
}

:root {
  // Light Theme
  --light-colors-text: #141414;

  --light-colors-page-bg: #F6F6F6;
  --light-colors-user-card-bg: #FAFAFA;
  --light-colors-user-image-bg-top: #FFFFFF;
  --light-colors-user-image-bg-bottom: #EEEEEE;
  --light-colors-user-tag: #FFFFFF;
  --light-colors-user-tag-shadow: #E4E8F7CC;
  --light-colors-project-card-bg: #FCFCFC;

  --light-svg-user-card-border: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8ZGVmcz4gPG1hc2sgaWQ9Im1hc2siPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiByeD0iMjAiIHJ5PSIyMCIgZmlsbD0id2hpdGUiIC8+IDwvbWFzaz4gPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudEJvcmRlciIgZ3JhZGllbnRUcmFuc2Zvcm09InJvdGF0ZSg5MCkiPiA8c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAyNTUsIDI1NSwgMCkiIC8+IDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgLz4gPC9saW5lYXJHcmFkaWVudD4gPC9kZWZzPiA8cmVjdCBtYXNrPSJ1cmwoI21hc2spIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJub25lIiByeD0iMjAiIHJ5PSIyMCIgc3Ryb2tlPSJ1cmwoI2dyYWRpZW50Qm9yZGVyKSIgc3Ryb2tlLXdpZHRoPSIzIiAvPiA8L3N2Zz4=);
  
  // Dark Theme (Github Style)
  --dark-colors-text: #C9D1D9;

  --dark-colors-page-bg: #0D1117;
  --dark-colors-user-card-bg: #161B22;
  --dark-colors-user-image-bg-top: #000000;
  --dark-colors-user-image-bg-bottom: #252525;
  --dark-colors-user-tag: #1c222b;
  --dark-colors-user-tag-shadow: #0a0c0ccc;
  --dark-colors-project-card-bg: #161B22;

  --dark-svg-user-card-border: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8ZGVmcz4gPG1hc2sgaWQ9Im1hc2siPiA8cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiByeD0iMjAiIHJ5PSIyMCIgZmlsbD0id2hpdGUiIC8+IDwvbWFzaz4gPGxpbmVhckdyYWRpZW50IGlkPSJncmFkaWVudEJvcmRlciIgZ3JhZGllbnRUcmFuc2Zvcm09InJvdGF0ZSg5MCkiPiA8c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9InJnYmEoMCwgMCwgMCwgMCkiIC8+IDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgLz4gPC9saW5lYXJHcmFkaWVudD4gPC9kZWZzPiA8cmVjdCBtYXNrPSJ1cmwoI21hc2spIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJub25lIiByeD0iMjAiIHJ5PSIyMCIgc3Ryb2tlPSJ1cmwoI2dyYWRpZW50Qm9yZGVyKSIgc3Ryb2tlLXdpZHRoPSIzIiAvPiA8L3N2Zz4=);


  // Default Theme (take values from Light Theme)
  --colors-text: var(--light-colors-text);

  --colors-page-bg: var(--light-colors-page-bg);
  --colors-user-card-bg: var(--light-colors-user-card-bg);
  --colors-user-image-bg-top: var(--light-colors-user-image-bg-top);
  --colors-user-image-bg-bottom: var(--light-colors-user-image-bg-bottom);
  --colors-user-tag: var(--light-colors-user-tag);
  --colors-user-tag-shadow: var(--light-colors-user-tag-shadow);
  --colors-project-card-bg: var(--light-colors-project-card-bg);

  --svg-user-card-border: var(--light-svg-user-card-border);
}